In [48]:
#Create Database
import mysql.connector
Query = """
Create database e_commerce;
"""
##/* To ensure least usage of resources, least code between open and close connection */
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123")
cursorObject = connection.cursor()
cursorObject.execute(Query)
connection.close()
print('databse e_commerce created.')

databse e_commerce created.

In [49]:
#Create Tables
import mysql.connector
Query = """
    create table e_commerce.supplier (SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10));
    create table e_commerce.customer (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR(1), PRIMARY KEY (CUS_ID));
    create table e_commerce.category (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID));
    create table e_commerce.product (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20)NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL, PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID));
    create table e_commerce.product_details (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID));
    create table e_commerce.orders (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID));
    create table e_commerce.rating (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID));
"""
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")
cursorObject = connection.cursor()
## execute creates tables, but gives error!  executemany does not gives error, but does nothing!, written both.
## also tried running "multi=True", but that did nothing.
## The only combination worked was execute(Query) and then executemany(Query,"")
#cursorObject.execute(Query, multi=True)
cursorObject.execute(Query)
cursorObject.executemany(Query, "")
connection.commit()
connection.close()
print('Tables created. Please check in mySQL Workbench by:')
print('select * from e_commerce.supplier;')
print('select * from e_commerce.customer;')
print('select * from e_commerce.category;')
print('select * from e_commerce.product;')
print('select * from e_commerce.product_details;')
print('select * from e_commerce.orders;')
print('select * from e_commerce.rating;')

InterfaceError: Use multi=True when executing multiple statements

In [50]:
import mysql.connector

connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")
 
Query = """
INSERT INTO e_commerce.supplier
(supp_id, supp_name, supp_city, supp_phone)
VALUES (%s, %s, %s, %s)
"""

vals = [
    (1, 'Rajesh Retails', 'Delhi', '1234567890'),
    (2, 'Appario Ltd.', 'Mumbai', '0227387384'),
    (3, 'Knome products', 'Bangalore', '9785462315'),
    (4, 'Bansal Retails', 'Kochi', '8975463285'),
    (5, 'Mittal Ltd.', 'Lucknow', '7898456532')];

cursorObject = connection.cursor()
cursorObject.executemany(Query, vals)
connection.commit()
connection.close()
print ("record Inserted !")

record Inserted !

In [51]:
import mysql.connector

connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")
 
Query = """
INSERT INTO customer
(cus_id, cus_name, cus_phone, cus_city, cus_gender)
VALUES (%s, %s, %s, %s, %s)
"""

vals = [
    (1, 'Aakash', '9999999999', 'Delhi', 'M'),
    (2, 'Aman', '9785463215', 'Noida', 'M'),
    (3, 'Neha', '9999999998', 'Mumbai', 'F'),
    (4, 'Megha', '9994562399', 'Koklata', 'F'),
    (5, 'Pulkit', '7895999999', 'Lucknow', 'M')];

cursorObject = connection.cursor()
cursorObject.executemany(Query, vals)
connection.commit()
connection.close()
print ("record Inserted !")

record Inserted !

In [52]:
import mysql.connector

connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")
 
Query = """
INSERT INTO category
(Cat_ID, Cat_Name)
VALUES (%s, %s)
"""

vals = [
    (1, 'Books'),
    (2, 'Games'),
    (3, 'Groceries'),
    (4, 'Electronics'),
    (5, 'Clothes')];

cursorObject = connection.cursor()
cursorObject.executemany(Query, vals)
connection.commit()
connection.close()
print ("record Inserted !")

record Inserted !

In [53]:
import mysql.connector

connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")
 
Query = """
INSERT INTO product
(Pro_ID, Pro_Name, Pro_Desc, Cat_ID)
VALUES (%s, %s, %s, %s)
"""

vals = [
    (1, 'GTA V', 'GTA - five', 2),
    (2, 'Tshirt', 'T - Shirt', 5),
    (3, 'ROG Laptop', 'ROG Laptop (Asus)', 4),
    (4, 'OATS', 'Oats, masala', 3),
    (5, 'Harry Potter', 'Harry Potter Series', 1)];

cursorObject = connection.cursor()
cursorObject.executemany(Query, vals)
connection.commit()
connection.close()
print ("record Inserted !")

record Inserted !

In [54]:
import mysql.connector

 
Query = """
INSERT INTO Product_details
(Prod_ID, Pro_ID, SUPP_ID, Prod_Price)
VALUES (%s, %s, %s, %s)
"""

vals = [
    (1, 1, 2, 1500),
    (2, 3, 5, 30000),
    (3, 5, 1, 3000),
    (4, 2, 3, 2500),
    (5, 4, 1, 1000)];

connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")
cursorObject = connection.cursor()
cursorObject.executemany(Query, vals)
connection.commit()
connection.close()
print ("record Inserted !")

record Inserted !

In [55]:
import mysql.connector

 
Query = """
INSERT INTO orders
(ORD_ID, ORD_Amount, ORD_Date, CUS_ID, PROD_ID)
VALUES (%s, %s, %s, %s, %s)
"""

vals = [
    (20, 1500, '2021-10-12', 3, 5),
    (25, 30500, '2021-09-16', 5, 2),
    (26, 2000, '2021-10-05', 1, 1),
    (30, 3500, '2021-08-16', 4, 3),
    (50, 2000, '2021-10-06', 2, 1)];

connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")
cursorObject = connection.cursor()
cursorObject.executemany(Query, vals)
connection.commit()
connection.close()
print ("record Inserted !")

record Inserted !

In [56]:
import mysql.connector

 
Query = """
INSERT INTO rating
(RAT_ID, CUS_ID, SUPP_ID, RAT_RatStars)
VALUES (%s, %s, %s, %s)
"""

vals = [
    (1, 2, 2, 4),
    (2, 3, 4, 3),
    (3, 5, 1, 5),
    (4, 1, 3, 2),
    (5, 4, 5, 4)];

connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")
cursorObject = connection.cursor()
cursorObject.executemany(Query, vals)
connection.commit()
connection.close()
print ("record Inserted !")

record Inserted !