In [1]:
import mysql.connector
import pandas as pd
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")

cursorObject = connection.cursor()
Query = """
select CUS_GENDER, COUNT(CUS_GENDER) as Cnt from customer
where CUS_ID IN (select CUS_ID from orders where ORD_AMOUNT > 3000)
GROUP BY CUS_GENDER;
"""
cursorObject.execute(Query)
output = cursorObject.fetchall()
print('Q3:')
for x in output:
    print(x)
output_df = pd.DataFrame(output, columns=['CUS_Gender', 'Cnt'])
output_df

## closing the connection
connection.close()

Q3:
('M', 1)
('F', 1)

In [2]:
import mysql.connector
import pandas as pd
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")

cursorObject = connection.cursor()
Query = """
select o.*, p.PRO_NAME from orders as o
LEFT JOIN product as p ON p.PRO_ID = o.PROD_ID
where CUS_ID = 2;
"""
cursorObject.execute(Query)
output = cursorObject.fetchall()
print('Q4:')
for x in output:
    print(x)
output_df = pd.DataFrame(output, columns=['Ord_ID', 'Ord_Amount', 'Ord_Date', 'Cus_ID', 'Prod_Id', 'Pro_Name'])
output_df

## closing the connection
connection.close()

Q4:
(50, 2000, datetime.date(2021, 10, 6), 2, 1, 'GTA V')

In [3]:
import mysql.connector
import pandas as pd
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")

cursorObject = connection.cursor()
Query = """
select * from supplier s where s.SUPP_ID IN
(select SUPP_ID from (select SUPP_ID, COUNT(PROD_ID) As Cnt from product_details GROUP BY SUPP_ID having Cnt > 1) i);
"""
cursorObject.execute(Query)
output = cursorObject.fetchall()
print('Q5:')
for x in output:
    print(x)
output_df = pd.DataFrame(output, columns=['Supp_ID', 'Supp_Name', 'Supp_City', 'Supp_Phone'])
output_df

## closing the connection
connection.close()

Q5:
(1, 'Rajesh Retails', 'Delhi', '1234567890')

In [4]:
import mysql.connector
import pandas as pd
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")

cursorObject = connection.cursor()
Query = """
select pd.*, p.PRO_NAME from product_details pd
LEFT JOIN product p ON p.PRO_ID = pd.PRO_ID
 where PROD_PRICE <= (select MIN(PROD_PRICE) from product_details );
"""
cursorObject.execute(Query)
output = cursorObject.fetchall()
print('Q6:')
for x in output:
    print(x)
output_df = pd.DataFrame(output, columns=['Prod_ID', 'Pro_ID', 'Supp_ID', 'Prod_Price', 'Pro_Name'])
output_df

## closing the connection
connection.close()

Q6:
(5, 4, 1, 1000, 'OATS')

In [5]:
import mysql.connector
import pandas as pd
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")

cursorObject = connection.cursor()
Query = """
select o.ORD_ID, p.pro_name
from orders o
LEFT JOIN Product p ON p.PRO_ID = o.PROD_ID
where o.ORD_DATE >= '2021-10-05';
"""
cursorObject.execute(Query)
output = cursorObject.fetchall()
print('Q7:')
for x in output:
    print(x)
output_df = pd.DataFrame(output, columns=['Order_ID', 'Pro_Name'])
output_df

## closing the connection
connection.close()

Q7:
(20, 'Harry Potter')
(26, 'GTA V')
(50, 'GTA V')

In [6]:
import mysql.connector
import pandas as pd
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")

cursorObject = connection.cursor()
Query = """
select s.SUPP_NAME, c.CUS_NAME, r.RAT_RATSTARS
from rating r
LEFT JOIN supplier s ON s.SUPP_ID = r.SUPP_ID
LEFT JOIN customer c ON c.CUS_ID = r.CUS_ID
ORDER BY r.RAT_RATSTARS DESC limit 3;
"""
cursorObject.execute(Query)
output = cursorObject.fetchall()
print('Q8:')
for x in output:
    print(x)
output_df = pd.DataFrame(output, columns=['Supp_Name', 'Cus_Name', 'Rating'])
output_df

## closing the connection
connection.close()

Q8:
('Rajesh Retails', 'Pulkit', 5)
('Appario Ltd.', 'Aman', 4)
('Mittal Ltd.', 'Megha', 4)

In [7]:
import mysql.connector
import pandas as pd
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")

cursorObject = connection.cursor()
Query = """
select c.cus_name, c.CUS_GENDER from customer c
where c.CUS_NAME like '%a' or c.CUS_NAME like 'a%'
ORDER BY CUS_NAME;
"""
cursorObject.execute(Query)
output = cursorObject.fetchall()
print('Q9:')
for x in output:
    print(x)
output_df = pd.DataFrame(output, columns=['Cus_Name', 'Cus_Gender'])
output_df

## closing the connection
connection.close()

Q9:
('Aakash', 'M')
('Aman', 'M')
('Megha', 'F')
('Neha', 'F')

In [8]:
import mysql.connector
import pandas as pd
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")

cursorObject = connection.cursor()
Query = """
select SUM(ORD_Amount) As TotalAmt from orders o
LEFT JOIN customer c ON c.cus_id = o.cus_id
where c.CUS_GENDER = 'M';
"""
cursorObject.execute(Query)
output = cursorObject.fetchall()
print('Q10:')
for x in output:
    print(x)
output_df = pd.DataFrame(output, columns=['TotalAmt'])
output_df

## closing the connection
connection.close()

Q10:
(Decimal('34500'),)

In [9]:
import mysql.connector
import pandas as pd
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="Abgrain@123",
                                    database = "e_commerce")

cursorObject = connection.cursor()
Query = """
select * from orders o
LEFT JOIN customer c ON c.CUS_ID = o.CUS_ID;
"""
cursorObject.execute(Query)
output = cursorObject.fetchall()
print('Q11:')
for x in output:
    print(x)
output_df = pd.DataFrame(output, columns=['Ord_ID', 'Ord_Amount', 'Ord_Date', 'Cus_Id', 'Prod_Id', 'Cus_Id', 'Cus_Name', 'Cus_Phone', 'Cus_City', 'Cus_Gender'])
output_df

## closing the connection
connection.close()

Q11:
(20, 1500, datetime.date(2021, 10, 12), 3, 5, 3, 'Neha', '9999999998', 'Mumbai', 'F')
(25, 30500, datetime.date(2021, 9, 16), 5, 2, 5, 'Pulkit', '7895999999', 'Lucknow', 'M')
(26, 2000, datetime.date(2021, 10, 5), 1, 1, 1, 'Aakash', '9999999999', 'Delhi', 'M')
(30, 3500, datetime.date(2021, 8, 16), 4, 3, 4, 'Megha', '9994562399', 'Koklata', 'F')
(50, 2000, datetime.date(2021, 10, 6), 2, 1, 2, 'Aman', '9785463215', 'Noida', 'M')